
.codelite/*
.clang/*
.build-debug/*

build-debug/*
build-debug-cli/*
build-release/*
build-release-cli/*

core/core.mk
core/core.txt
core/Debug/*

gui/Debug/*
gui/gui.mk
gui/gui.txt

/simulator/simulator.mk
/render/render.mk
/parser/parser.mk
/Makefile
/gui/.cmake_dirty
/cli/.cmake_dirty
/cli/cli.mk
