[submodule "core"]
	path = core
	url = ../CeCe-core
[submodule "plugins"]
	path = plugins
	url = ../CeCe-plugins
[submodule "app/cli"]
	path = app/cli
	url = ../CeCe-cli
[submodule "app/gui"]
	path = app/gui
	url = ../CeCe-gui
